@charset "UTF-8";

#bar {
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-left: 10px;
}

#title {
    color: #3e8e41;

}

#barFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1;
}


#chatBox {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

#username {
    display: block;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#text {
    display: block;
    height: 100px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

/*.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}*/

.message.sender {
    background-color: #4CAF50;
}

.message.receiver {
    background-color: #ccc;
}